
***form for family name should also attach to user_name

<h3>Step 2: Create a Family Profile</h3>
<hr>
  <%= form_for @family do |f| %>
    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
